<li id="<%= dom_id appearance %>">
  <h3><%= link_to appearance.event, speaking_appearance_path(appearance) %> <span>(<%= appearance.location %>)</span></h3>
  <p><%= appearance.who %> <%= appearance.what %></p>
  <p class="date"><time datetime=""><%= appearance.date.stamp("04 May 2020") %></time></p>
</li>
