<% set_meta_tags title: "Work",
                 og: {
                   title: "John Athayde | Work",
                 } %>

<h1>Work</h1>

<section id="case_studies">
  <h2 class="tinylabel"><b>01</b> Case Studies</h2>

  <ol id="cs_list">
    <li id="livingsocial_csr">
      <%= link_to "", "/work/livingsocial-csr", class: 'whole-linker' %>
      <h3>LivingSocial Customer Support Portal Redesign/Rebuild</h3>
      <p>UX, Visual Design, Front-End Development, Styleguide/Design System</p>
    </li>
    <li id="navanti_pulse">
      <%= link_to "", "/work/navanti-pulse", class: 'whole-linker' %>
      <h3>Navanti Analyst Suite</h3>
      <p>UX, Visual Design, Product Development, Front-End Development, Engineering Management</p>
    </li>
    <li id="procore">
      <%= link_to "", "/work/procore", class: 'whole-linker' %>
      <h3>Procore</h3>
      <p>UX, Visual Design, Training, Team Building</p>
    </li>
    <li id="powerfleet_chassis">
      <%= link_to "", "/work/powerfleet-chassis", class: 'whole-linker' %>
      <h3>PowerFleet</h3>
      <p>Script development, Video Production, Video Editing/Grading, UX, Visual Design, Clickable Prototype</p>
    </li>
    <!--<li id="livingsocial_wilde">
      <%= link_to "", "/work/livingsocial-internal-tools-design-system-wilde", class: 'whole-linker' %>
      <h3>LivingSocial Internal Tools Design System</h3>
      <p>UX, Visual Design, Front-End Development</p>
    </li>
    <li id="cargosense_next">
      <%= link_to "", "/work/cargosense-next", class: 'whole-linker' %>
      <h3>CargoSense Platform</h3>
      <p>Branding, UX, Visual Design, Front-End Development</p>
    </li>-->
  </ol>

</section>

<section id="other_work">
  <h2 class="tinylabel"><b>02</b> Other Work</h2>

  <p class="callout">
    I've worked on a very broad collection of projects over the years. If there is something you'd specifically like to see, please <%= link_to "contact me", contact_path %>. I'm happy to share more.
  </p>
</section>