<% set_meta_tags title: "Work",
                 og: {
                   title: "John Athayde | Work",
                 } %>

<h1>Work</h1>

<section id="team_building">
  <h2 class="tinylabel"><b>01</b> Team Building</h2>

  <h2>Building Creative Teams</h2>
  <p>
     I've had the opportunity to not only work in some fantastic teams but also to help build some as well. From a player coach to a manager of managers, I've helped deliver results with a mix of in-house and contracted resources.
  </p>
  <ul>
    <li>At InPhonic, I grew the design team from 4 to 15 over two years, including developing internal resources to art director/management roles and supporting 100 jobs a month in the creative pipeline for our sales organization. We collaborated with external resources to reimagine our primary e-commerce property's user experience and visual design and built and supported numerous brands and microsites with a partially distributed team.</li>
    <li>At LivingSocial, I built and ran a four-person team that handled the internal tools engineering user experience, visual design, and front-end development. We extracted elements into a style guide and evolved it into an early design system, supporting almost 30 tools by the time I left the organization.</li>
    <li>At PowerFleet, I cultivated an extensive team of contractors across print, web, video, 3d/animation, and app design to augment myself and my one direct report in managing three international brands and evolving product design across internal and acquired platforms. We delivered a global brand management solution via Frontify. We also had begun a design system implementation with InVision DSM to support new visual designs across web apps (.NetMVC/React, PHP), iOS, Android, and custom hardware interfaces. </li>
  </ul>
</section>

<section id="case_studies">
  <h2 class="tinylabel"><b>02</b> Case Studies</h2>

  <h2>Case Studies and Highlighted Work</h2>

  <ol id="cs_list">
    <li id="livingsocial_csr">
      <%= link_to "", "/work/livingsocial-csr", class: 'whole-linker' %>
      <h3>LivingSocial Customer Support Portal Redesign/Rebuild</h3>
      <p>UX, Visual Design, Front-End Development, Styleguide/Design System</p>
    </li>
    <li id="navanti_pulse">
      <%= link_to "", "/work/navanti-pulse", class: 'whole-linker' %>
      <h3>Navanti Analyst Suite</h3>
      <p>UX, Visual Design, Product Development, Front-End Development, Engineering Management</p>
    </li>
    <li id="procore">
      <%= link_to "", "/work/procore", class: 'whole-linker' %>
      <h3>Procore</h3>
      <p>UX, Visual Design, Training, Team Building</p>
    </li>
    <li id="powerfleet_chassis">
      <%= link_to "", "/work/powerfleet-chassis", class: 'whole-linker' %>
      <h3>PowerFleet</h3>
      <p>Script development, Video Production, Video Editing/Grading, UX, Visual Design, Clickable Prototype</p>
    </li>
    <!--<li id="livingsocial_wilde">
      <%= link_to "", "/work/livingsocial-internal-tools-design-system-wilde", class: 'whole-linker' %>
      <h3>LivingSocial Internal Tools Design System</h3>
      <p>UX, Visual Design, Front-End Development</p>
    </li>
    <li id="cargosense_next">
      <%= link_to "", "/work/cargosense-next", class: 'whole-linker' %>
      <h3>CargoSense Platform</h3>
      <p>Branding, UX, Visual Design, Front-End Development</p>
    </li>-->
  </ol>

</section>

<section id="other_work">
  <h2 class="tinylabel"><b>02</b> Other Work</h2>

  <p class="callout">
    I've worked on a very broad collection of projects over the years. If there is something you'd specifically like to see, please <%= link_to "contact me", contact_path %>. I'm happy to share more.
  </p>
</section>