<% set_meta_tags title: "Resume/CV",
                 og: {
                   title: "John Athayde | Resume/CV",
                 } %>



<% content_for :work_header do %>
  <section class="work-header" id="navanti_head">
    <h1>
      <span>Case Study »</span>
      Navanti Pulse/OpenSeas (2011-2015)
    </h1>
  </section>
<% end %>

<section class="bluf">
  <h2 class="tinylabel"><b>01</b> BLUF</h2>
  [to be written]
</section>

<section class="team">
  <h2 class="tinylabel"><b>02</b> My Role</h2>
  <p>UX, Visual Design, HTML/SCSS, Engineering coordination</p>
</section>

<section class="long-form">
  <h2 class="tinylabel"><b>03</b> The Details</h2>

  <p>
    Navanti Group is a human intelligence and analysis company focused on the Middle East and Africa. They serve various government, corporate, and NGO clients with ground truth and native speaker insight into many countries in the area.
  </p>
  <p>
    I provided initial platform concept development with the company early on, and they then took it and built a series of tools using an overseas engineering team.
  </p>
  <figure>
    <%= image_tag "work/navanti_pulse/navanti-v1-wires.jpg", loading: :lazy, alt: "Early wireframe sketches and worksheets" %>
    <figcaption>
      <p>
        Early wireframing and diagramming around flow concepts to support the internal users of the platform.
      </p>
    </figcaption>
  </figure>

  <p>
    About 18 months after the initial engagement, they asked me to review what they had and help ensure that the apps were ready for production. We raised some concerns:
  </p>
  <ul>
    <li>The experience was split up by application and very single-task driven,</li>
    <li>There were significant blockers with how the offshore team had constructed the apps for scale,</li>
    <li>There was a considerable service gap in supporting the day-to-day content delivery from Navanti SMEs to their customers.</li>
  </ul>
  <p>
    I helped Navanti engage CorgiBytes as an engineering team to take over the work and get the app production-ready. In parallel, we started shadowing and working with the staff to define a new paradigm for content delivery to support their customers. As part of this process, I deep-dived into the intelligence cycle, OSINT (open-source intelligence) techniques, and taxonomies around geospatial data representations. Due to security requirements, only Navanti staff was allowed to interact with the end users directly.
  </p>

  <%# [TODO: Photo of Intelligence research books?] %>

  <p>
    We developed personas for use as we discussed new flows and concepts around workflow and developed a new concept of the product ecosystem inside Navanti, which we called the <b>Navanti Analyst Suite</b>.
  </p>
  <figure>
    <%= image_tag "work/navanti_pulse/navanti-product-ecosystem.png", loading: :lazy, alt: "Navanti Analyst Suite Markitecture diagram, c. Oct 2015" %>
    <figcaption>
      <p>
        Navanti Analyst Suite markitecture diagram, October 2015
      </p>
    </figcaption>
  </figure>
  <p>
    While CorgiBytes was updating and refactoring code, I began wireframing a pair of new apps, one for internal content curation ("OpenSeas") and the other for customer content interaction ("Pulse"). There were a variety of sketched-out flows and user stories that fed interface sketches/wireframes and, eventually, Photoshop mockups.
  </p>
  <p>
    We evolved the UI language for Pulse and OpenSeas to be more consistent with the Navanti marketing brand, and created global navigation and interaction elements to support the unique use cases on the production and consumption sides of the application.
  </p>
  <figure>
    <%= image_tag "work/navanti_pulse/navanti-pulse-global.jpg", loading: :lazy, alt: "Navanti Pulse Global elements" %>
    <figcaption>
      <p>
        Navanti Pulse global elements in the Explore context.
      </p>
    </figcaption>
  </figure>
  <p>
    We worked up a series of high-fidelity mocks and flows, which were tested with end users by the CEO and Head of Navanti Labs, and revised through various rounds of user testing and feedback.
  </p>
  <figure>
    <%= image_tag "work/navanti_pulse/navanti-scenario-yemen.jpg", loading: :lazy, alt: "A clickable scenario showing a flow in Pulse" %>
    <figcaption>
      <p>
        A clickable scenario flow through the Pulse app, showing how an NGO might research a potential travel route in Yemen, and consume various pieces of OSINT and native researcher content and analysis through the platform UI.
      </p>
    </figcaption>
  </figure>
  <p>
    I finished my time on the product after Kiere came on board to run it full-time internally. UX and Visual Design were 6-12 months ahead of where engineering was, delivery-wise. The product continued internally at Navanti.
  </p>

  <h3>OpenSeas Overview</h3>

  <p>
    OpenSeas allowed SMEs and native-speaking intelligence researchers to document various structured data types in their AI (area of interest). It also involved tools for research, such as an internal Atlas, geospatial data repository/management system, and more.
  </p>
  <figure>
    <%= image_tag "work/navanti_pulse/navanti-open-seas-screens.jpg", loading: :lazy, alt: "Two examples of admin/edit screens in OpenSeas" %>
    <figcaption>
      <p>
        Two examples of admin/edit screens in OpenSeas.
      </p>
    </figcaption>
  </figure>


</section>

<section class="tools-used">
  <h2 class="tinylabel"><b>04</b> Tools Used</h2>
    <ul class="tags">
    <li>Sketch</li>
    <li>Photoshop</li>
    <li>Illustrator</li>
    <li>InDesign</li>
    <li>Excel</li>
    <li>Trace/Pen</li>
    <li>Ruby on Rails</li>
    <li>Angular.js</li>
    <li>HTML/SCSS</li>
  </ul>
</section>