<li id="<%= dom_id article %>">
  <% if article.feature_image.attached? %>
    <%= link_to blog_post_path(article), class: "feature-image" do %>
      <%= image_tag article.feature_image.variant(:card), alt: article.title %>
    <% end %>
  <% end %>
  <h3><%= link_to article.title, blog_post_path(article) %></h3>
  <% if article.subtitle.present? %>
    <p class="article-subtitle"><%= article.subtitle %></p>
  <% end %>
  <p class="meta">
    <% if article.published_at %>
      <time datetime="<%= article.published_at.iso8601 %>">
        <%= article.published_at.to_date.stamp("04 May 2020") %>
      </time>
    <% end %>
    <% if article.author.present? %>
      &middot; <%= article.author %>
    <% end %>
    <% if article.category %>
      &middot; <%= link_to article.category.name, blog_category_path(article.category) %>
    <% end %>
  </p>
</li>
