<% set_meta_tags title: "Say Hello to John",
                 og: {
                   title: "Say Hello to John",
                 } %>


<% content_for :page_title do %>
  Contact Us
<% end %>

<% content_for :meta_description do %>
<% end %>

<% content_for :body_class do %>contact<% end %>

<h1>Reach out and say hello!</h1>

<%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">
  <ol>
    <li class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </li>

    <li class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </li>
    <li class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject %>
    </li>

    <li class="field">
      <%= form.label :body %>
      <%= form.text_area :body, :rows => 10, :cols => 60 %>
    </li>

    <%= recaptcha_v3(action: 'new', site_key: ENV['RECAPTCHA_SITE_KEY']) %>
  </ol>
  </fieldset>

  <fieldset class="actions">
    <%= form.submit "Send Your Message" %>
  </fieldset>
<% end %>
